        *{
            margin:0;
            padding: 0;
        }
        .container{
            position: absolute;
        width: 1728px;
        height: 75px;
        left: 0px;
        top: 0px;

        background: #000000;
        
        }
        .heading{
            
            position: absolute;
            width: 221px;
            height: 39px;
            left: 31px;
            top: 18px;
            color: white;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 39px;
        }


        .login{
            position: absolute;
        width: 83px;
        height: 39px;
        left: 1590px;
        top: 18px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 39px;


        }

        .sign{
        
        position: absolute;
        width: 105px;
        height: 39px;
        left: 1440px;
        top: 18px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;


        }

        .teacherinfo{
            position: absolute;
        width: 252px;
        height: 39px;
        left: 31px;
        top: 106px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 39px;
        }

     
    #fname{
        box-sizing: border-box;

    position: absolute;
    width: 1642px;
    height: 56px;
    left: 31px;
    top: 172px;

    border: 1px solid #000000
    }

    #email{
        box-sizing: border-box;

        position: absolute;
        width: 1642px;
        height: 56px;
        left: 31px;
        top: 255px;
        
        border: 1px solid #000000;

    }


    #password{
        box-sizing: border-box;

        position: absolute;
        width: 1642px;
        height: 56px;
        left: 31px;
        top: 338px;
        
        border: 1px solid #000000;

    }

    #conpassword{
        box-sizing: border-box;

    position: absolute;
    width: 1642px;
    height: 56px;
    left: 31px;
    top: 421px;

    border: 1px solid #000000;
    }

    ::placeholder {
    color: black;
    font-family: 'Inter';
    font-size: 24px;
    }

    .submit{
        box-sizing: border-box;
    position: absolute;
    width: 176px;
    height: 56px;
    left: 31px;
    top: 508px;
    background: #000000;
    border: 1px solid #000000;
    } 

#error{
    color: red;
    position: absolute;
width: 252px;
height: 39px;
left: 31px;
top: 80px;
}


@media(max-width: 600pxzaA)
{
    
}